@import "colors";

$anthracite: #393E46;
$teal: #00ADB5;

$primary: $teal;
$secondary: $anthracite;

.bg-teal {
  background-color: $teal;
}

.bg-cyan {
  background-color: $cyan;
}

.bg-thirdly {
  background-color: $thirdly;
}

@media screen and (min-width: 760px) {

}
